.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  height:100%;
  margin-top: 0;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes animation-text {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MainContainer{
   background-color: rgb(24,20,36);
   width:100% ;
   height:100% ;
   margin-top:-3% ;
}

.inputSet {
  display:'flex' ;
  justify-content: center; 
  align-items: flex-end;
  padding-bottom:4% ;
  padding-top:25%;
}

.messageInput{
  width:60% ;
  height:4vw ;
  border-radius: 0.40rem ;
  font-size:1.75vw ;
}

.chatButton{
  background-color: blue;
  color:white ;
  width:10% ;
  height:4vw ;
  margin-left:1% ;
  border-radius:0.35rem ;
  font-size:1.75vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chatRoomHeading{
  padding-top: 4vw;
  font-size:3vw ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align:center ;
  color:white ;
  animation: animation-text 6s forwards ;
  animation-delay:calc(3s * var(--i)) ;
}

.homepageHeading{
   padding-top:3vw ;
   font-size:3vw ;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: white;
}

.joinChatContainer{
  padding-top:7% ;
  padding-bottom:5% ;
}

.featureCollection{
   display:flex ;
   justify-content: center;
   gap:5vw ;
   padding-top:6% ;
}

.featureCollectionItem{
  background-color: #1c123bf2 ;
  border-radius: 0.45rem;
  border: solid;
  border-color: white;
}

.featureItemParagraph{
  color:white ;
  font-size:1.95vw ;
  padding:2vw ;
}

.advertisementParagraph{
  padding-top:3vw ;
  font-size:2vw ;
  text-align: center;
  color:white ;
  padding-left:3vw ;
  padding-right:3vw ;
  animation: animation-text 6s forwards ;
  animation-delay:calc(3s * var(--i)) 
}

.joinChatHeading{
  color:white ;
  text-align: center;
  font-size:2vw ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chatInputForm{
  height:3vw ;
  width:30% ;
  border-radius:0.35rem ;
  margin-right:0.5% ;
  font-size: 1.65vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.joiningButton{
  height:3vw ;
  width:15% ;
  border-radius:0.35rem;
  background-color: blue;
  color:white ;
  font-size:1.50vw ;
}

.userChats{
  background-color: #1c123bf2  ;
  color:white ;
  width:20% ;
  height:5% ;
  font-size:1.75vw ;
  margin-left:10% ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top:5% ;
  padding-top:2vw ;
  padding-bottom:2vw ; 
  border: solid;
  border-color: white;
  border-radius:0.70rem ;
}

.chatTime{
  font-size:1.35vw ;
  text-align:right ;
  padding-right: 1.08vw;
}

.chatAuthor{
  font-size:1.50vw ;
  text-align:center ;
}

.chatBodyMessage{
  font-size:2vw ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}